/****Scroll bar Style***/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-button {
    height:0;
}
::-webkit-scrollbar-track {
    background: #1861e9;
    box-shadow: 0px 0px 3px #e21818 inset;
}
::-webkit-scrollbar-thumb {
    background:#1d5bce;
    border: thin solid rgb(189, 13, 13);
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#1a59d6;
}           