
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');


body{
   
    padding: 15px 0 15px 0;
    
}
p,
h1,
h2,
h3,
h5
{
    color:white;
    text-align: center;
}
h4{
    color:midnightblue;
    text-align: center;
}
p{
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
}
h1{
    font-weight: 800;
    font-size: 20px;
}
h2{
    font-weight: 700;
    font-size: 11px;
}
h3{
    font-weight: 400;
    font-size: 8px;
}
a:link{
    color: #4E4E4E;
}
a:visited{
    color: #4E4E4E;
}
.content-left{
    width: 195px;
    height: 860px;
    background-color: white;
    border-radius: 30px 0 0 30px;
    padding: 12px;
}
.content-right{
    width: 580px;
    height: 860px;
    background-color: var(--color-2);
    border-radius: 0 30px 30px 0;
    padding: 12px;
}
.photo-area{
    width: 124px;
    height: 124px;
    background-color: var(--color-1);
    border-radius: 50%;
    margin-bottom: 28px;
    overflow: hidden;
    border: 5px solid #e4e7fc;
}
.photo-area img{
    width: 150%;
    height: auto;
}
.content-left h3:nt-of-type(1){
    margin-top: 5px;
}
.about-me{
    margin-top: 28px;
}
.content-left-menu-text{
    width: 220px;
    height: 40px;
    background-color: var(--color-1);
    border-radius: 25px;
    margin: 15px;
   
}
.about-me p{
    text-align: left;
    font-size: 12px;
    line-height: 13px;
}
.follow-me{
    margin-top: 16px;
    text-align: center;
}
.follow-me p{
    margin-bottom: 8px;
}
.follow-me h3{
    font-size: 13px;
    margin-bottom: 5px;
}
.contact-me-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-1);
    margin: 8px;
}
.content-right-menu-text{
    width: 200px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px 0.5px rgba(131, 131, 131, 0.21);
    -webkit-box-shadow: 0px 0px 10px 0.5px rgba(131, 131, 131, 0.21);
    -moz-box-shadow: 0px 0px 10px 0.5px rgba(131, 131, 131, 0.21);
    -o-box-shadow: 0px 0px 10px 0.5px rgba(131, 131, 131, 0.21);
    border-radius: 18px 18px 0 18px;
    margin-left: -10px;
}
.experience{
    margin-left: 40px;
    margin-top: 20px;
    
}
.content-right-menu-text-icon{
    margin-right: 10px;
    align-items: center;
}

.content-right-text-content-1{
    margin-top: 15px;
}
.content-right-text-content-1-right{
    margin-left: 50px;
}

.content-right-text-content-1-right h2{
    font-size: 15px;
    margin-bottom: 8px;
}
.content-right-text-content-1-left{
    margin-bottom: 40px;
}
.content-right-text-content-1 h3{
    margin-top: 5px;
    font-size: 14px;
}
.content-right-text-content-1-left p:nth-of-type(1){
    color: #B5B5B5;
}
.skills-section progress[value] {
    /* Reset the default appearance */
    position: relative;
    -webkit-appearance: none;
     appearance: none;
  
    width: 225px;
    height: 15px;
    margin-top: 15px;
  }
  .skills-section progress[value]::-webkit-progress-bar {
    background-color: #8389c0;
    border-radius: 5px;
  }
  .skills-section progress[value]::-webkit-progress-value{
      background-color:midnightblue;
      border-radius: 5px 0 0 5px;
  }
  .skills-section label{
      position: absolute;
      font-size: 12px;
      font-weight: 800;
  }
  .progress-container{
      margin-top: 15px;
  }

  .skill-section-right{
      margin-left: 150px;
  }